.contdetail{
	display: flex;
    align-items: center;
    justify-content: center;
	height: 546px;
}
.cardetail{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 2px solid black;
	height: 450px;
	width: 800px;
	background-color: #97907b;
	border-radius: 15px
}
.ert{
	margin-right: 20px;
	margin-top: 25px
}

.arriba{
	display: flex;
	justify-content: center;
	margin-right: 10px;
	width: 800px;
}
.ddetail{
	color: white
}
.ddactiv{
	color: white
}

.racts{
	display: flex;
	flex-direction: row;
	font-size: 20px
}

.ddatos{
	margin-right: 30px;
	width: 140px
}

.titles{
	display: flex;
	flex-direction: row;
	font-size: 30px
}
